body{
    background-color:#E1F5FE;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 150px;
  }
  .logo {
    grid-column: 1;
  }
  .titulo {
    grid-column: 2;
    font: bold 32px Courier, monospace ;
    padding-top: 34px;
    color: #050038;
  }
  .i_close{
    grid-column: 3;
    text-align: right;
  }
  .subtitulo {
    font: bold 24px Roboto;
    color: #050038;
  }
  .subtitulo1 {
    font: normal 16px arial;
    color: #050038;
  }
  .menu{
    padding: 20px 0px 0px 20px;
  }
.button{
    width: 293px;
    height: 30px;
    color: white; 
    background-color:#DA0063;
}
.button_consulta{
  width: 63px;
  height: 30px;
  color: white; 
  background-color:#DA0063;
}
.servicio {
  display: grid;
  grid-template-columns: repeat(3, auto);
  
}
.s1 {
  grid-column: 1 ;
  grid-row: 1;
  text-align: left;
}
.s2 {
  grid-column: 1;
  grid-row: 2 / 3;
  text-align: left;
}
.s3 {
  grid-column: 2;
  grid-row: 2 / 3;
  text-align: left;
}
.s4 {
  grid-column: 1;
  grid-row: 3;
}

.close {
  background-color: #E1F5FE; /* Blue background */
  border: none; /* Remove borders */
  color: #050038; /* White text */
  padding: 30px 16px; /* Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.close_inicio {
  color: #050038;
  background-color: #E1F5FE; /* Blue background */
  border: none; /* Remove borders */
  padding: 30px 16px; /* Some padding */
  font-size: 15px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.datoscliente{
  padding-left: 10%;
}

.acuse{
  display: grid;
  grid-template-columns: repeat(2, 150px);
  font: bold 14px Roboto;
  color: #050038;
  margin: 0px;
  
}
.a1 {
  padding-top: 10px;
  grid-column: 1 ;
  grid-row: auto;
  text-align: left;
}
.a2 {
  padding-top: 10px;
  grid-column: 2;
  grid-row: auto;
  text-align: left;
  }

.formulario {
  font: bold 20px Roboto;
  color: #050038;
  margin: 0px;
}

.table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.th, td {
  padding: 10px;
  text-align: center;
  width: auto;
}