{% extends 'header.html'%}
{% block title %}
    <div class="titulo">
        Inicio Sesión
    </div>
{% endblock %}
{% block content %}
    <div style="text-align: center;"> 
        <form action="{{url_for('guardar_datos')}}" method="POST">
            <h1 class="subtitulo">Usuario</h1>
            <input type="text" name="usuario" size="40">
            <h1 class="subtitulo">Contraseña</h1>
            <input type="password" name="pasword" size="40">
            <div style="text-align: center; padding: 1rem;">
                <input class="button" type="submit" value="Inicio sesión">
            </div>
        </form>   
    </div>  
{% endblock %}  