{% extends 'header.html' %}
{% block title %}
<div class="titulo">
    Consultas
</div>
<div class="i_close">
<form method="get" action="{{url_for('menu')}}">
        <button class="close"><i class="fa fa-close"></i></button>
</form> 
</div> 
{% endblock %}

{% block content %}

<table>
        <thead>
                <tr>
                       <!-- <th>ID Cliente</th>
                        <th>Nombre</th>
                        <th>Tipo identificacion</th>
                        <th>Numero identificacion</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th>Correo electrónico</th>
                        <th>Editar</th>
                        <th>Eliminar</th>-->
                        <th>ID Orden</th>
                        <th>ID Cliente</th>
                        <th>Tipo servicio</th>
                        <th>Volumen</th>
                        <th>Embalaje</th>
                        <th>Bodegaje</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Valor</th>
                        <th>Tipo vehiculo</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                </tr>
        </thead>
        <tbody>
                {% for db in rstDB %}
                <tr>
                        <td>{{db[0]}}</td>
                        <td>{{db[1]}}</td>
                        <td>{{db[2]}}</td>
                        <td>{{db[3]}}</td>
                        <td>{{db[4]}}</td>
                        <td>{{db[5]}}</td>
                        <td>{{db[6]}}</td>
                        <td>{{db[7]}}</td>
                        <td>{{db[8]}}</td>
                        <td>{{db[9]}}</td>
                        <td>
                                <form action="{{url_for('editar_servicio')}}" method="POST">
                                        <input type="hidden" name="id" value="{{db[1]}}">
                                        <button class="button_consulta">Editar</button>
                                </form>
                        </td>
                        <td>
                                <form action="{{url_for('eliminar_datos')}}" method="POST">
                                        <input type="hidden" name="id" value="{{db[0]}}">
                                        <button  class="button_consulta">Eliminar</button>
                                </form>
                        </td>
                </tr>
                {% endfor%}
        </tbody>
       </table>
        
{% endblock %}  