{% extends 'header.html'%}
{% block title %}
    <div class="titulo">
        Editar datos del Cliente
    </div>
    <div class="i_close">
        <form method="get" action="{{url_for('menu')}}">
                <button class="close"><i class="fa fa-close"></i></button>
        </form> 
{% endblock %}
{% block content %}    
    <div class="datoscliente">
        <div class="menu">
            <img src="{{url_for('static',filename='img/b.png')}}" alt="Avatar" class="avatar" style="width:15px">
            <a  class="subtitulo "> Datos Cliente</a>
        </div>  
        <form action="{{url_for('actualizar_datos')}}" method="POST">
            <h2 class="formulario">ID Cliente</h2>
            <input value="{{rstDB[0]}}" readonly="readonly" type="text" name="id" size="40" >
            <h2 class="formulario">Nombre</h2>
            <input value="{{rstDB[1]}}" type="text" name="nombre" size="40" >
            <h1 class="formulario">Tipo identificacion</h1>
            <select value="{{rstDB[2]}}" name="tipoID" style="    width: 293px;" >
                <option value="CC">Cédula de Ciudadanía</option> 
                <option value="TI">Tarjeta de Identidad</option> 
             </select>
            <h1 class="formulario">Numero identificacion</h1>
            <input value="{{rstDB[3]}}"type="number" name="numeroid" style="width: 287px;">
            <h1 class="formulario">Dirección</h1>
            <input value="{{rstDB[4]}}"type="text" name="direccion" size="40">
            <h1 class="formulario">Telefono</h1>
            <input value="{{rstDB[5]}}"type="number" name="telefono" style="width: 287px;">
            <h1 class="formulario">Correo electrónico</h1>
            <input value="{{rstDB[6]}}"type="text" name="email" size="40">
            <div style="text-align: left; padding: 1rem;">
                <input class="button" type="submit" value="Actualizar">            </div>
        </form>   
                
{% endblock %}         