{% extends 'header.html'%}
{% block title %}
    <div class="titulo">
        Editar datos del servicio
    </div>
    <div class="i_close">
        <form method="get" action="{{url_for('consulta')}}">
                <button class="close"><i class="fa fa-close"></i></button>
        </form> 
{% endblock %}
{% block content %}
    <div class="servicio">
        <div class="s2">
          
            <form action="{{url_for('actualizar_servicio')}}" method="POST">
                <h2 class="subtitulo1">ID orden de servicio</h2>
                <input value="{{rstDB[0]}}" readonly="readonly" type="text" name="id_orden" size="40" >
                <h2 class="subtitulo1">Tipo de servicio</h2>
                <input value="{{rstDB[2]}}" type="text" name="tiposervicio" size="40">
                <h1 class="subtitulo">
                    Dirección
                </h1>  
                <h1 class="subtitulo1">Origen</h1>
                <input value="{{rstDB[6]}}" type="text" name="origen" size="40">
                <h1 class="subtitulo1">Destino</h1>
                <input value="{{rstDB[7]}}" type="text" name="destino" size="40"><br>
                <label class="subtitulo1">Volumen </label>
                <input value="{{rstDB[3]}}" style="margin-top: 15px;" type="text" readonly="readonly" name="volumen" size="30">
                <br>
                <label class="subtitulo1">Bodegaje </label>
                <input value="{{rstDB[5]}}" style="margin-top: 15px;" type="text" name="bodegaje" size="30">
                <br>
                <label class="subtitulo1">Embalaje </label>
                <input value="{{rstDB[4]}}" style="margin-top: 15px;" type="text" name="embalaje" size="30">
                <div style="text-align: left; padding-top: 1rem;">
                    <input class="button" type="submit" value="Siguiente"></div>
    
            </form>   
            
        </div>
    </div>
{% endblock %}         