<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoVign</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<header>
    <div class="wrapper">
        <div class="logo">
            <img style="width: 6rem;" src="{{url_for('static',filename='img/a.png')}}">
        </div>
        {% block title %}
        <div class="titulo">
        </div>
        <div class="i_close">
        </div>
        {% endblock %}
    </div>
</header>
<body>
    {% block content %}
               
    {% endblock %}
</body>
</html>