{% extends 'header.html'%}
{% block title %}
<div class="titulo">
            Inventario
</div>
<div class="i_close">
        <form method="get" action="{{url_for('acceso')}}">
                <button class="close"><i class="fa fa-close"></i></button>
        </form> 
</div> 
{% endblock %}
{% block content %}

    <div style="text-align: center;"> 
        <form action="{{url_for('acceso')}}">
            <table class="default">
            <tr>
                <th>Cantidad</th>
                <th>Elemento</th>
            </tr>
            <tr>
              <td><input type="number" name="tabla" id="t10" size="3">
              </td>
              <td><input type="text" name="tabla" id="t11" size="30"></td>  
            </tr>
            <tr>
                <td><input type="number" name="tabla" id="20" size="3">
                </td>
                <td><input type="text" name="tabla" id="21" size="30"></td>  
              </tr>
              <tr>
                <td><input type="number" name="tabla" id="t10" size="3">
                </td>
                <td><input type="text" name="tabla" id="t11" size="30"></td>  
              </tr>
              <tr>
                  <td><input type="number" name="tabla" id="20" size="3">
                  </td>
                  <td><input type="text" name="tabla" id="21" size="30"></td>  
                </tr>
            </table>     
            <div style="text-align: center; padding: 1rem;">
                <input id="Registar" class="button" type="submit" value="Registrar">            </div>      
      
        </form>   
        <!-- Simple pop-up dialog box, containing a form -->
<dialog id="favDialog">
    <form method="dialog">
        Orden de servicio
        <div style="text-align: center; padding: 1rem;">
            <input id="cancel" class="button" type="submit" value="Cancelar">            </div>  
    </form>
  </dialog>

  <script>
    (function() {
      var updateButton = document.getElementById('Registar');
      var cancelButton = document.getElementById('cancel');
      // Update button opens a modal dialog
      updateButton.addEventListener('click', function() {
        favDialog.showModal();
      });
    })();
  </script>
    </div> 
      

{% endblock %}                   
