{% extends 'header.html'%}
{% block title %}
<div class="titulo">
            Menu
</div>
<div class="i_close">
        <form method="get" action="{{url_for('acceso')}}">
                <button class="close"><i class="fa fa-close"></i></button>
        </form> 
</div> 
{% endblock %}
{% block content %}
        <div class="menu">
                <img src="{{url_for('static',filename='img/r.png')}}" alt="Avatar" class="avatar" style="width:25px">
                <a href="{{url_for('consulta')}}" >  Consultar</a>
        </div>
        <div class="menu">
            <img src="{{url_for('static',filename='img/b.png')}}" alt="Avatar" class="avatar" style="width:25px">
            <a href="{{url_for('registro')}}" class="btn ">Registrar</a>
        </div>  
        <hr>       
        <hr>
{% endblock %}                   
