{% extends 'header.html'%}
{% block title %}
    <div class="titulo">
        Datos de servicio
    </div>
    <div class="i_close">
        <form method="get" action="{{url_for('acceso')}}">
                <button class="close"><i class="fa fa-close"></i></button>
        </form> 
{% endblock %}
{% block content %}
    <div class="servicio">
        <div class="s1">
            <h1 class="subtitulo">
                Tipo de servicio
            </h1>    
        </div>
        <div class="s2">
            <form action="{{url_for('servicio_datos')}}" method="POST">
                <div class="radio">    
                    <input type="radio" name="tiposervicio" value="Consolidado" id="Consolidado">
                    <label for="Consolidado">Consolidado</label>
                    <input type="radio" name="tiposervicio" value="Expreso" id="Expreso">
                    <label for="Expreso">Expreso</label>
                </div>
                <h1 class="subtitulo">
                    Dirección
                </h1>  
                <h1 class="subtitulo1">Origen</h1>
                <input type="text" name="origen" size="40">
                <h1 class="subtitulo1">Destino</h1>
                <input type="text" name="destino" size="40"><br>
                <label class="subtitulo1">Volumen </label>
                <input style="margin-top: 15px;" type="text" name="volumen" size="30">
                <div class="radio" style="margin-top: 15px;"> 
                    <a class="subtitulo1">Bodegaje</a>  
                    <input type="radio" name="bodegaje" value="Si" id="si">
                    <label for="si">Si</label>
                    <input type="radio" name="bodegaje" value="No" id="no">
                    <label for="no">No</label>
                </div>
                <div class="radio" style="margin-top: 15px;"> 
                    <a class="subtitulo1">Embalaje</a>  
                    <input type="radio" name="embalaje" value="Si" id="si">
                    <label for="si">Si</label>
                    <input type="radio" name="embalaje" value="No" id="no">
                    <label for="no">No</label>
                </div>
                <div style="text-align: left; padding-top: 1rem;">
                    <input class="button" type="submit" value="Siguiente"></div>
    
            </form>   
            
        </div>
    </div>
{% endblock %}         