{% extends 'header.html'%}
{% block title %}
<div class="titulo">
   ACUSE DE SERVICIO
</div>
<div class="i_close">
        <form method="get" action="{{url_for('acceso')}}">
                <button class="close_inicio">Cerrar sesión</button>
        </form> 
</div> 
{% endblock %}
{% block content %}
<div class="datoscliente">
        <form action="{{url_for('menu')}}">
                <div class="acuse">
                        <div class="a1">Orden de servicio:</div>
                        <div class="a2">{{rstDB[0]}}</div>
                        <div class="a1">Tipo de servicio:</div>
                        <div class="a2">{{rstDB[2]}}</div>
                        <div class="a1">Valor de servicio:</div>
                        <div class="a2">{{rstDB[8]}}</div>
                        <div class="a1">
                                <input id="Finalizar" class="button" type="submit" value="Finalizar">            </div>                   
                </div>
        </form>   
    </div> 
{% endblock %}                   
